:root {
    --background-color: #101010;
    --padding: 1px;
    --selected-expansion: 1.5vh;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--background-color);
    overflow-x: hidden;
    font-family: 'Open Sans';
}

.hidden {
    display: none !important;
}

.container {
    width: 100vw;
    min-height: 100vh;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    font-size: 20px;
    color: white;
    opacity: 0.1;
    animation: rotation 1s infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: var(--padding);
}

.show-loupe .grid {
    height: 100vh;
    overflow-x: hidden;
}

.grid .grid-item {
    max-width: 100%;
    width: 100%;
    flex-grow: 1;
    position: relative;
    border: var(--padding) solid var(--background-color);
}

.grid .grid-item .photo {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    object-fit: cover;
    padding: 0;
    cursor: zoom-in;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.grid .grid-item .photo.transparent {
    opacity: 0;
}

.loupe {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #202020FC;
    display: none;
    cursor: zoom-out;
    opacity: 1;
    z-index: 20;
    overflow: hidden;
    transition: opacity 1s ease;
    transition: background-color 0.5s ease;
}

.loupe-photo {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.show-loupe .loupe {
    display: block;
}

.loupe .photo-large {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.loupe .photo-large.transparent {
    opacity: 0;
}

.loupe-prev, .loupe-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20vw;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    padding-bottom: 3em;
}

.loupe-prev {
    justify-content: flex-start;
    padding-left: 1.5rem;
}

.loupe-next {
    justify-content: flex-end;
    padding-right: 1.5rem;
}

.loupe-prev {
    left: 0;
}

.loupe-next {
    right: 0;
}

.loupe-first .loupe-prev {
    display: none;
}

.loupe-last .loupe-next {
    display: none;
}

.loupe-photo-index,
.grid-button,
.loupe-button {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #101010F0;
    border-radius: 1rem;
    color: #A0A0A0;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.grid-action-zoom-in,
.grid-action-zoom-out {
    display: none;
}

.grid-button:hover,
.loupe-button:hover {
    opacity: 1;
}

.grid-button,
.loupe-button {
    width: 2rem;
    cursor: pointer;
    z-index: 15;
}

.grid-button a,
.loupe-button a {
    color: #A0A0A0;
}

.loupe-prev:hover .loupe-button,
.loupe-next:hover .loupe-button {
    background-color: #101010F0;
    transition: background-color 0.2s ease;
}

.loupe-metadata {
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    padding: 2em;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 1em;
    opacity: 0.7;
    transition: opacity 0.5s ease, top 0.8s ease, bottom 0.8s ease;
}

.loupe-metadata-top {
    top: 0;
    font-size: 120%;
}

.loupe-metadata-bottom {
    bottom: 0;
}

.loupe-metadata-top.invisible {
    opacity: 0;
    top: -2em;
}

.loupe-metadata-bottom.invisible {
    opacity: 0;
    bottom: -2em;
}

.loupe-metadata-element {
    height: 2.4em;
    padding: 0.5em 1em;
    background-color: #101010A0;
    border-radius: 1.2em;
    display: flex;
    align-items: center;
}

.loupe-metadata-element span {
    margin-left: 0.9em;
}

.grid-actions,
.loupe-actions {
    position: fixed;
    right: 0;
    top: 0;
    padding: 2em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 1em;
    z-index: 20;
}

.loupe-photo-index {
    position: absolute;
    top: 2em;
    left: 2em;
    padding: 1em;
    min-width: 2rem;
}

@media (min-width: 576px) {
    .grid {
        flex-direction: row;
    }

    .grid .grid-item {
        width: auto;
        height: var(--row-height);
    }

    .grid .grid-item .photo {
        height: calc(var(--row-height) - 2 * var(--padding));
    }

    .grid .grid-item.selected .photo {
        padding: 0;
        transition: top, left, width, height, box-shadow;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        top: calc(-1 * var(--selected-expansion) - var(--padding) / 2);
        height: calc(var(--row-height) + 2 * var(--selected-expansion));
        left: calc(-1 * var(--selected-expansion) - var(--padding) / 2);
        width: calc(100% + 2 * var(--selected-expansion));
        box-shadow: 0px 0px 4vh #000000FF;
        border: calc(2 * var(--padding)) solid var(--background-color);
        z-index: 10;
    }

    .grid-action-zoom-in,
    .grid-action-zoom-out {
        display: flex;
    }

    .loupe-prev, .loupe-next {
        align-items: center;
        padding-bottom: 0;
    }
}