:root {
    --background-color: #050505;
    --padding: 1px;
    --selected-expansion: 1.5vh;
    --navigation-panel-background-color: #0F1221F5;
    --navigation-panel-highlight-color: #5F8FFF;
    --color-error: #A91F08;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--background-color);
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.no-scroll {
    overflow-y: hidden;
}

.hidden {
    display: none !important;
}

.container {
    width: 100vw;
    min-height: 100vh;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-fullsize {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.spinner {
    font-size: 20px;
    color: white;
    opacity: 0.1;
    animation: rotation 1s infinite;
    animation-timing-function: linear;
}

.loading-error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--color-error);
    font-weight: bold;
}

.loading-error .error-message {
    max-width: 10em;
    text-align: center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.grid-loading .spinner i {
    font-size: 30px;
    color: #F0F0F0F0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    color: #A0A0A0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 120%;
}

.background-logo {
    position: absolute;
    font-size: 300px;
    color: #A0A0A010;
    margin-bottom: 2rem;
    z-index: -100;
}

.home-link-404 {
    margin-top: 1em;
}

.grid-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    padding: var(--padding);
}

.grid-content-loading {
    width: 100vw;
    padding: 0.5em;
}

.show-loupe .grid {
    height: 100vh;
    overflow-x: hidden;
}

.grid-item {
    max-width: 100%;
    width: 100%;
    min-width: 30px;
    flex-grow: 1;
    position: relative;
    border: var(--padding) solid var(--background-color);
}

.grid-item .photo {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    cursor: zoom-in;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.grid-item .photo.transparent {
    opacity: 0;
}

.navigation-panel-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 80;
}

.navigation-panel-container.invisible {
    right: auto;
    width: 0;
}

.navigation-panel-content {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.navigation-panel-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    cursor: w-resize;
}

.navigation-panel-container.invisible .navigation-panel-background {
    width: 0;
}

.navigation-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--navigation-panel-background-color);
    color: white;
    padding: 1.5rem;
    transition: left 0.3s ease, box-shadow 0.3s ease;
    z-index: 81;
}

.navigation-panel-container.invisible .navigation-panel {
    left: -100vw;
}

.navigation-panel-close {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    font-size: 150%;
    color: #A0A0A0;
    cursor: pointer;
    text-align: center;
    background-color: var(--navigation-panel-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.navigation-panel-close:hover {
    color: var(--navigation-panel-highlight-color);
    background-color: #000000FF;
}

.navigation-panel-container.invisible .navigation-panel-close {
    right: 0;
}

.navigation-panel-title {
    margin-bottom: 1.2rem;
    font-size: 180%;
    text-align: center;
    font-weight: bold;
}

.navigation-panel-current-path {
    margin-bottom: 0.5rem;
    min-height: 2em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3em;
    padding: 0.3em 0.8em;
    background-color: #101010;
}

.navigation-panel-current-path-separator {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    color: #A0A0A0;
}

.navigation-panel-current-path-separator-first {
    margin-left: 0;
}

.navigation-panel-current-path-separator-first,
.navigation-panel-current-path-element a {
    position: relative;
    top: 0;
    color: #B0B0B0;
    font-weight: bold;
    transition: color 0.2s ease, top 0.2s ease;
}

.navigation-panel-current-path-separator-first a:hover,
.navigation-panel-current-path-element a:hover {
    top: -0.2em;
    color: var(--navigation-panel-highlight-color);
}

.navigation-panel-n-photos {
    opacity: 1;
    margin-top: 0.5em;
    color: #909090;
    text-align: center;
}

.navigation-panel-n-photos.invisible {
    opacity: 0;
}

.navigation-panel-subdirs {
    list-style: none;
    margin-top: 0.5rem;
    margin-left: 1rem;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.navigation-panel-subdirs .fa-solid {
    padding-right: 0.5rem;
}

.navigation-panel-subdir-current {
    margin-left: 1rem;
}

.navigation-panel-subdir {
    margin-left: 0.75rem;
}

.navigation-panel-subdir-parent a,
.navigation-panel-subdir-current a,
.navigation-panel-subdir a {
    position: relative;
    padding-left: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block;
    color: #B0B0B0;
    font-weight: bold;
    transition: color 0.2s ease, padding-left 0.2s ease;
}

.navigation-panel-subdir-parent.selected .nav-link,
.navigation-panel-subdir-current.selected .nav-link,
.navigation-panel-subdir.selected .nav-link {
    padding-left: 0.5em;
    color: var(--navigation-panel-highlight-color);
}

.navigation-panel-subdir .nav-link .fa-folder {
    position: relative;
    left: 1.25em;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.navigation-panel-subdir .nav-link .fa-folder-open {
    opacity: 0;
    transition: opacity 0.2s linear;
}

.navigation-panel-subdir.selected .nav-link .fa-folder {
    opacity: 0;
}

.navigation-panel-subdir.selected .nav-link .fa-folder-open {
    opacity: 1;
}

.navigation-panel-no-subdirs {
    margin-left: 2rem;
    color: #808080;
    font-style: italic;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.loupe {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #202020FC;
    display: none;
    cursor: zoom-out;
    opacity: 1;
    z-index: 100;
    overflow: hidden;
    transition: opacity 1s ease;
    transition: background-color 0.5s ease;
}

.loupe-loading .spinner i {
    font-size: 30px;
    color: #A0A0A0A0;
}

.loupe-photo {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.show-loupe .loupe {
    display: block;
}

.loupe .photo-large {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.loupe .photo-large.transparent {
    opacity: 0;
}

.loupe-prev, .loupe-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20vw;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    padding-bottom: 3em;
}

.loupe-prev {
    justify-content: flex-start;
    padding-left: 1.5rem;
}

.loupe-next {
    justify-content: flex-end;
    padding-right: 1.5rem;
}

.loupe-prev {
    left: 0;
}

.loupe-next {
    right: 0;
}

.loupe-first .loupe-prev {
    display: none;
}

.loupe-last .loupe-next {
    display: none;
}

.loupe-photo-index,
.grid-button,
.loupe-button {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #101010F0;
    border-radius: 1rem;
    color: #A0A0A0;
    opacity: 0.5;
    transition: opacity 0.3s ease, color 0.3s ease;
}

.grid-action-zoom-in,
.grid-action-zoom-out {
    display: none;
}

.grid-button:hover,
.loupe-button:hover {
    opacity: 1;
    color: #FFFFFF;
}

.grid-button,
.loupe-button {
    width: 2rem;
    cursor: pointer;
}

.grid-button {
    z-index: 50;
}

.loupe-button {
    z-index: 150;
}

.button-progress {
    --progress: 0deg;
    background: conic-gradient(#505050F0 calc(var(--progress) * 3.6), #101010F0 calc(var(--progress) * 3.6 + 1deg));
}

.loupe-prev:hover .loupe-button,
.loupe-next:hover .loupe-button {
    background-color: #101010F0;
    transition: background-color 0.2s ease;
}

.loupe-metadata {
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    padding: 2em;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 1em;
    opacity: 0.7;
    transition: opacity 0.5s ease, top 0.8s ease, bottom 0.8s ease;
}

.loupe-metadata-top {
    top: 0;
    font-size: 120%;
}

.loupe-metadata-bottom {
    bottom: 0;
}

.loupe-metadata-top.invisible {
    opacity: 0;
    top: -2em;
}

.loupe-metadata-bottom.invisible {
    opacity: 0;
    bottom: -2em;
}

.loupe-metadata-element {
    height: 2.4em;
    padding: 0.5em 1em;
    background-color: #101010A0;
    border-radius: 1.2em;
    display: flex;
    align-items: center;
}

.loupe-metadata-element span {
    margin-left: 0.9em;
}

.grid-actions,
.loupe-actions {
    position: fixed;
    padding: 2em;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 1em;
}

.grid-actions {
    z-index: 50;
}

.grid-actions-topleft {
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: flex-start;
}

.grid-actions-topright {
    top: 0;
    right: 0;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.loupe-actions {
    right: 0;
    top: 0;
    flex-direction: row-reverse;
    justify-content: flex-end;
    z-index: 150;
}

.loupe-photo-index {
    position: absolute;
    top: 2em;
    left: 2em;
    padding: 1em;
    min-width: 2rem;
}

@media (min-width: 576px) {
    .grid-content {
        flex-direction: row;
    }

    .grid-item {
        width: auto;
        height: var(--row-height);
    }

    .grid-item .photo {
        height: calc(var(--row-height) - 2 * var(--padding));
    }

    .grid-item.selected .photo {
        padding: 0;
        transition: top, left, width, height, box-shadow;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        top: calc(-1 * var(--selected-expansion) - var(--padding) / 2);
        height: calc(var(--row-height) + 2 * var(--selected-expansion));
        left: calc(-1 * var(--selected-expansion) - var(--padding) / 2);
        width: calc(100% + 2 * var(--selected-expansion));
        box-shadow: 0px 0px 4vh #000000FF;
        border: calc(2 * var(--padding)) solid var(--background-color);
        z-index: 10;
    }

    .grid-action-zoom-in,
    .grid-action-zoom-out {
        display: flex;
    }

    .navigation-panel {
        right: auto;
        width: 30rem;
        max-width: 100%;
        box-shadow: 0px 0px 30px #000000;
    }

    .navigation-panel-container.invisible .navigation-panel {
        left: -30rem;
        box-shadow: none;
    }

    .navigation-panel-close {
        top: 1.5rem;
        right: -1rem;
    }

    .loupe-prev, .loupe-next {
        align-items: center;
        padding-bottom: 0;
    }
}

@media (max-width: 576px) {

    .grid-item {
        max-width: unset !important;
    }

}