:root {
    --row-height: 30vh;
    --background-color: #101010;
    --padding: 1px;
    --selected-expansion: 1.5vh;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--background-color);
    overflow-x: hidden;
    font-family: 'Open Sans';
}

.hidden {
    display: none !important;
}

.container {
    width: 100vw;
    min-height: 100vh;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: var(--padding);
}

.show-loupe .grid {
    height: 100vh;
    overflow-y: hidden;
}

.grid .grid-item {
    flex-grow: 1;
    height: var(--row-height);
    position: relative;
    border: var(--padding) solid var(--background-color);
}

.grid .grid-item .photo {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(var(--row-height) - 2 * var(--padding));
    object-fit: cover;
    padding: 0;
    cursor: zoom-in;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.grid .grid-item .photo.transparent {
    opacity: 0;
}

.grid .grid-item.selected .photo {
    padding: 0;
    transition: top, left, width, height, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    top: calc(-1 * var(--selected-expansion) - var(--padding) / 2);
    height: calc(var(--row-height) + 2 * var(--selected-expansion));
    left: calc(-1 * var(--selected-expansion) - var(--padding) / 2);
    width: calc(100% + 2 * var(--selected-expansion));
    box-shadow: 0px 0px 4vh #000000FF;
    border: calc(2 * var(--padding)) solid var(--background-color);
    z-index: 10;
}

.loupe {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #202020FC;
    display: none;
    cursor: zoom-out;
    opacity: 1;
    z-index: 20;
    transition: opacity 1s ease;
    transition: background-color 0.5s ease;
}

.loupe-photo {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.show-loupe .loupe {
    display: block;
}

.loupe .photo-large {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    opacity: 1;
    transition: opacity 1s ease;
}

.loupe .photo-large.transparent {
    opacity: 0;
}

.loupe-prev, .loupe-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.loupe-prev {
    left: 0;
}

.loupe-next {
    right: 0;
}

.loupe-first .loupe-prev {
    display: none;
}

.loupe-last .loupe-next {
    display: none;
}

.loupe-button {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF10;
    border-radius: 1rem;
}

.loupe-prev:hover .loupe-button,
.loupe-next:hover .loupe-button {
    background-color: #FFFFFF20;
    transition: background-color 0.2s ease;
}

.loupe-info {
    background-color: #F0F0FF;
    height: 5rem;
}