<img
    class="photo transparent"
    src=""
    data-src-thumbnail="{{ url_for('get_thumbnail', uid=photo['uid']) }}"
    data-src-large="{{ url_for('get_large', uid=photo['uid']) }}"
    data-src-full="{{ url_for('get_photo', uid=photo['uid']) }}"
    data-width="{{ photo['width'] }}"
    data-height="{{ photo['height'] }}"
    data-color="#{{ photo['color'] }}"
    {% if config.SHOW_METADATA %}
        data-title="{{ photo['title'] }}"
        data-date="{{ photo['date_taken'] }}"
        data-place="{{ photo['place'] }}"
        data-camera="{{ photo['camera_model'] }}"
        data-lens="{{ photo['lens_model'] }}"
        data-focal-length="{{ photo['focal_length'] }}"
        data-aperture="{{ photo['aperture'] }}"
        data-exposure-time="{{ photo['exposure_time'] }}"
        data-sensitivity="{{ photo['sensitivity'] }}"
    {% endif %}
>