<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}{{ config.TITLE }}</title>
        <link href="/static/css/main.css" rel="stylesheet">
        <link href="/static/fa/css/fontawesome.min.css" rel="stylesheet">
        <link href="/static/fa/css/brands.min.css" rel="stylesheet">
        <link href="/static/fa/css/solid.min.css" rel="stylesheet">
        <!-- Favicon by FontAwesome : https://fontawesome.com/ -->
        <link rel="shortcut icon" href="/static/favicon.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        <script src="/static/js/cash.min.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>