<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ config.TITLE }}</title>
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='fa/css/fontawesome.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='fa/css/brands.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='fa/css/solid.min.css') }}" rel="stylesheet">
        <!-- Favicon by FontAwesome : https://fontawesome.com/ -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        <script src="{{ url_for('static', filename='js/cash.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>