{% extends "layout.html" %}

{% block title %}{% if path %}{{ path }} - {% endif %}{% endblock %}

{% block head %}
    <style>
        :root {
            --row-height: {{ config.DEFAULT_ROW_HEIGHT }}vh;
        }

        {% if photos %}
            @media (min-width: 576px) {
                {% for photo in photos %}
                    {% if photo['width'] and photo['height'] %}
                        .grid-item[data-uid="{{ photo['uid'] }}"] {
                            max-width: calc({{ config.MAX_ZOOM * photo['width'] / photo['height'] }} * var(--row-height));
                        }
                    {% endif %}
                {% endfor %}
            }
        {% endif %}
    </style>
{% endblock %}

{% block body %}
    {% if photos %}
        <div class="container">
            <div class="grid">
                {% for photo in photos %}
                    <div class="grid-item" style="{% if photo['width'] and photo['height'] %}aspect-ratio: {{ photo['width'] }}/{{ photo['height'] }};{% endif %} {% if photo['metadata_parsed'] %}background-color: #{{ photo['color'] }};{% endif %}" data-uid="{{ photo['uid'] }}" data-index="{{ loop.index }}" data-load-url="{{ url_for('get_grid_item', uid=photo['uid']) }}" data-loaded="false">
                        <div class="loading">
                            <div class="spinner"><i class="fas fa-spinner"></i></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="grid-actions">
                {% if config.INSTAGRAM %}
                    <div class="grid-button grid-action-instagram" title="Instagram"><a href="https://www.instagram.com/{{ config.INSTAGRAM }}/" target="_blank"><i class="fa-brands fa-instagram"></i></a></div>
                {% endif %}
                <div class="grid-button grid-action-zoom-out" title="Zoom out"><i class="fa-solid fa-magnifying-glass-minus"></i></div>
                <div class="grid-button grid-action-zoom-in" title="Zoom in"><i class="fa-solid fa-magnifying-glass-plus"></i></div>
            </div>
            <div class="loupe">
                <div class="loupe-photo">
                    <img src="" class="photo-large transparent">
                    <div class="loupe-prev"><div class="loupe-button"><i class="fa-solid fa-chevron-left"></i></div></div>
                    <div class="loupe-next"><div class="loupe-button"><i class="fa-solid fa-chevron-right"></i></div></div>
                </div>
                <div class="loupe-metadata loupe-metadata-top invisible">
                    <div class="loupe-metadata-element hidden"><i class="fa-solid fa-image"></i> <span class="loupe-metadata-title"></span></div>
                </div>
                {% if config.SHOW_METADATA %}
                    <div class="loupe-metadata loupe-metadata-bottom invisible">
                        <div class="loupe-metadata-element hidden"><i class="fa-solid fa-calendar-days"></i> <span class="loupe-metadata-date"></span></div>
                        <div class="loupe-metadata-element hidden"><i class="fa-solid fa-map-marker-alt"></i> <span class="loupe-metadata-place"></span></div>
                        <div class="loupe-metadata-element loupe-metadata-gear hidden"><i class="fa-solid fa-camera-retro"></i> <span class="loupe-metadata-camera"></span> <span class="loupe-metadata-lens"></span></div>
                        <div class="loupe-metadata-element loupe-metadata-settings hidden"><i class="fa-solid fa-sliders"></i> <span class="loupe-metadata-focal-length"></span> <span class="loupe-metadata-aperture"></span> <span class="loupe-metadata-exposure-time"></span> <span class="loupe-metadata-sensitivity"></span></div>
                    </div>
                {% endif %}
                <div class="loupe-actions">
                    <div class="loupe-button loupe-action-info" title="Toggle metadata display"><i class="fa-solid fa-info-circle"></i></div>
                    <div class="loupe-button loupe-action-slideshow-start" title="Start slideshow"><i class="fa-solid fa-play"></i></div>
                    <div class="loupe-button loupe-action-slideshow-stop hidden" title="Pause slideshow"><i class="fa-solid fa-pause"></i></div>
                    {% if config.SHOW_DOWNLOAD_BUTTON %}
                        <div class="loupe-button loupe-action-download" title="Download this photo in original resolution"><i class="fa-solid fa-download"></i></div>
                    {% endif %}
                </div>
                <div class="loupe-photo-index"><span></span></div>
                <div class="loading hidden">
                    <div class="spinner"><i class="fas fa-spinner"></i></div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="background">
            <div class="background-logo"><i class="fa-solid fa-panorama"></i></div>
            <div>This photo folder is empty</div>
        </div>
    {% endif %}

    <script>
        let rowHeight = {{ config.DEFAULT_ROW_HEIGHT }};
        let rowHeightStep = {{ config.ROW_HEIGHT_STEP }};
        let slideshowDelay = {{ config.SLIDESHOW_DELAY }};
        let showMetadata = {{ config.METADATA_VISIBLE_BY_DEFAULT | lower }};
    </script>
{% endblock %}
