{% extends "layout.html" %}

{% block title %}{% if not nav.is_root %}{{ nav.path_split[-1] }} - {% endif %}{% endblock %}

{% block head %}
    <style>
        :root {
            --row-height: {{ config.DEFAULT_ROW_HEIGHT }}vh;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="grid">
            <div class="loading grid-content-loading grid-content-loading-start hidden"><div class="spinner"><img src="static/img/spinner.svg"></div></div>
            <div class="grid-content">
            </div>
            <div class="loading grid-content-loading grid-content-loading-end hidden"><div class="spinner"><img src="static/img/spinner.svg"></div></div>
            <div class="grid-actions grid-actions-topright hidden">
                {% if config.INSTAGRAM %}
                    <div class="grid-button grid-action-instagram" title="Instagram"><a href="https://www.instagram.com/{{ config.INSTAGRAM }}/" target="_blank"><i class="fa-brands fa-instagram fa-fw"></i></a></div>
                {% endif %}
                <div class="grid-button grid-action-zoom-out" title="Zoom out"><i class="fa-solid fa-magnifying-glass-minus fa-fw"></i></div>
                <div class="grid-button grid-action-zoom-in" title="Zoom in"><i class="fa-solid fa-magnifying-glass-plus fa-fw"></i></div>
            </div>
            <div class="background hidden">
                <div class="background-logo"><i class="fa-solid fa-panorama"></i></div>
                <div>This photo folder is empty</div>
            </div>
            <div class="loading loading-fullsize grid-loading">
                <div class="spinner"><img src="static/img/spinner.svg"></div>
            </div>
            <div class="loading-error grid-loading-error hidden">
                <i class="fas fa-triangle-exclamation"></i>
                <div class="error-message">An error happened while loading the photos</div>
            </div>
            <div class="grid-actions grid-actions-topleft">
                {% if config.SHOW_NAVIGATION_PANEL %}
                    <div class="grid-button grid-action-navigate-up hidden" title="Navigate to the parent directory"><a class="nav-link" href="" data-load-url="" data-nav-url=""><i class="fa-solid fa-circle-chevron-left fa-fw"></i></a></div>
                    <div class="grid-button grid-action-open-navigation-panel" title="Open the navigation panel"><i class="fa-solid fa-folder-tree fa-fw"></i></div>
                {% endif %}
            </div>
            {% if config.SHOW_NAVIGATION_PANEL %}
                <div class="navigation-panel-container invisible">
                    <div class="navigation-panel">
                        <div class="navigation-panel-content"></div>
                        <div class="navigation-panel-close"><i class="fa-solid fa-xmark fa-fw"></i></div>
                        <div class="loading loading-fullsize nav-loading">
                            <div class="spinner"><img src="static/img/spinner.svg"></div>
                        </div>
                        <div class="loading-error nav-loading-error hidden">
                            <i class="fas fa-triangle-exclamation"></i>
                            <div class="error-message">An error happened while loading the menu</div>
                        </div>
                    </div>
                    <div class="navigation-panel-background">
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="loupe">
            <div class="loupe-photo">
                <img src="" class="photo-large transparent">
                <div class="loupe-prev"><div class="loupe-button"><i class="fa-solid fa-chevron-left fa-fw"></i></div></div>
                <div class="loupe-next"><div class="loupe-button"><i class="fa-solid fa-chevron-right fa-fw"></i></div></div>
            </div>
            <div class="loupe-metadata loupe-metadata-top invisible">
                <div class="loupe-metadata-element hidden"><i class="fa-solid fa-image"></i> <span class="loupe-metadata-title fa-fw"></span></div>
            </div>
            {% if config.SHOW_METADATA %}
                <div class="loupe-metadata loupe-metadata-bottom invisible">
                    <div class="loupe-metadata-element hidden"><i class="fa-solid fa-calendar-days fa-fw"></i> <span class="loupe-metadata-date"></span></div>
                    <div class="loupe-metadata-element hidden"><i class="fa-solid fa-map-marker-alt fa-fw"></i> <span class="loupe-metadata-place"></span></div>
                    <div class="loupe-metadata-element loupe-metadata-gear hidden"><i class="fa-solid fa-camera-retro fa-fw"></i> <span class="loupe-metadata-camera"></span> <span class="loupe-metadata-lens"></span></div>
                    <div class="loupe-metadata-element loupe-metadata-settings hidden"><i class="fa-solid fa-sliders fa-fw"></i> <span class="loupe-metadata-focal-length"></span> <span class="loupe-metadata-aperture"></span> <span class="loupe-metadata-exposure-time"></span> <span class="loupe-metadata-sensitivity"></span></div>
                </div>
            {% endif %}
            <div class="loupe-actions">
                <div class="loupe-button loupe-action-info" title="Toggle metadata display"><i class="fa-solid fa-info-circle fa-fw"></i></div>
                <div class="loupe-button loupe-action-slideshow-start" title="Start slideshow"><i class="fa-solid fa-play fa-fw"></i></div>
                <div class="loupe-button loupe-action-slideshow-stop hidden" title="Pause slideshow"><div class="button-progress-inner"><i class="fa-solid fa-pause fa-fw"></i></div></div>
                {% if config.SHOW_DOWNLOAD_BUTTON %}
                    <div class="loupe-button loupe-action-download" title="Download this photo in original resolution"><i class="fa-solid fa-download fa-fw"></i></div>
                {% endif %}
            </div>
            <div class="loupe-photo-index"><span></span></div>
            <div class="loading loading-fullsize loupe-loading hidden">
                <div class="spinner"><img src="static/img/spinner.svg"></div>
            </div>
        </div>
        <div class="password-prompt-container hidden">
            <div class="password-prompt">
                <div class="password-prompt-exit"><i class="fa-solid fa-xmark"></i></div>
                <div class="password-prompt-icon"><i class="fa-solid fa-lock fa-fw password-prompt-icon-locked"></i><i class="fa-solid fa-lock-open fa-fw password-prompt-icon-unlocked"></i></div>
                <div class="password-prompt-message"></div>
                <div class="password-prompt-input-container">
                    <input type="password" name="password" id="password" class="password-prompt-input" />
                    <div class="password-prompt-validate"><i class="fa-solid fa-angle-right"></i></div>
                    <div class="loading loading-fullsize hidden">
                        <div class="spinner"><img src="static/img/spinner.svg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const UID_LENGTH = {{ config.UID_LENGTH }};
        const UID_CHARS = '{{ uid_chars }}';
        const TITLE = '{{ config.TITLE }}';
        let loadGridURL = '{{ url_for('get_gallery', path=nav.path_current[:-1]) }}?grid';
        let loadNavURL = '{{ url_for('get_gallery', path=nav.path_current[:-1]) }}?nav';
        let rowHeight = {{ config.DEFAULT_ROW_HEIGHT }};
        let rowHeightStep = {{ config.ROW_HEIGHT_STEP }};
        let slideshowDelay = {{ config.SLIDESHOW_DELAY }};
        let showMetadata = {{ config.METADATA_VISIBLE_BY_DEFAULT | lower }};
        let openNav = {{ (config.OPEN_NAVIGATION_PANEL_BY_DEFAULT and nav.subdirs != []) | lower }};
    </script>
{% endblock %}
