<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ config.TITLE }}</title>
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='fa/css/fontawesome.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='fa/css/brands.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='fa/css/solid.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans">
    </head>
    <body>
        <div class="container">
            <div class="grid">
                {% for photo in photos %}
                    <div class="grid-item" style="background-color: #{{ photo['color'] }}; aspect-ratio: {{ photo['width'] }}/{{ photo['height'] }}" data-uid="{{ photo['uid'] }}" data-index="{{ loop.index }}" data-load-url="{{ url_for('get_grid_item', uid=photo['uid']) }}" data-loaded="false"></div>
                {% endfor %}
            </div>
            <div class="loupe">
                <div class="loupe-photo">
                    <img src="" class="photo-large">
                    <div class="loupe-prev"><div class="loupe-button"><i class="fa-solid fa-chevron-left"></i></div></div>
                    <div class="loupe-next"><div class="loupe-button"><i class="fa-solid fa-chevron-right"></i></div></div>
                </div>
                <div class="loupe-info">
                    <div class="loupe-info-title">Title</div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/cash.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>